.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1 1 0;
}

.oy-h {
  overflow-y: hidden;
}

.ox-h {
  overflow-x: hidden;
}

.oy-a {
  overflow-y: auto;
}

.o-h {
  overflow: hidden;
}